div {
    width: 300px;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color:blue; 
    transition: background-color 4s linear; 
    animation: transicao 4s ; 
    
}

@keyframes transicao {

    0% {background-color: blue;}
        
    50% { background-color: red;}
       
    75% { background-color: green;}
       
    100% {background-color: yellow;}
        
    
}

